Repository nvda-ci/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-cli-docs, generate-env-vars-docs, mkinit

generate-cli-docs:
  name: generate-cli-docs
  entry: make generate-cli-docs
  language: python
  pass_filenames: false
  args: []

generate-env-vars-docs:
  name: generate-env-vars-docs
  entry: make generate-env-vars-docs
  language: python
  pass_filenames: false
  args: []

mkinit:
  name: mkinit
  entry: bash tools/generate_init_files.sh
  language: system
  pass_filenames: false
  args: []

fix: Use temp-file encoding for MP4 format to fix moov atom placement issue
  src/aiperf/common/enums/__init__.py
  src/aiperf/dataset/__init__.py
  src/aiperf/dataset/generator/video.py
  src/aiperf/dataset/loader/__init__.py
  src/aiperf/endpoints/__init__.py
  src/aiperf/gpu_telemetry/__init__.py
  tests/unit/dataset/generator/test_video_generator.py
Due: generate-cli-docs, mkinit

feat: improve rich logging performance and wrapping logic
  docs/environment_variables.md
  src/aiperf/common/enums/__init__.py
  src/aiperf/common/environment.py
  src/aiperf/common/logging.py
  src/aiperf/dataset/__init__.py
  src/aiperf/dataset/loader/__init__.py
  src/aiperf/endpoints/__init__.py
  src/aiperf/gpu_telemetry/__init__.py
  tests/unit/common/test_logging.py
Due: generate-cli-docs, generate-env-vars-docs, mkinit

feat: plot html export
  docs/cli_options.md
  src/aiperf/cli.py
  src/aiperf/plot/__init__.py
  src/aiperf/plot/cli_runner.py
  src/aiperf/plot/constants.py
  src/aiperf/plot/dashboard/callbacks.py
  src/aiperf/plot/dashboard/components.py
  src/aiperf/plot/exporters/__init__.py
  src/aiperf/plot/exporters/html/__init__.py
  src/aiperf/plot/exporters/html/base.py
  src/aiperf/plot/exporters/html/multi_run.py
  src/aiperf/plot/exporters/html/serializers.py
  src/aiperf/plot/exporters/html/single_run.py
  src/aiperf/plot/exporters/html/static/app.js
  src/aiperf/plot/exporters/html/static/styles.css
  src/aiperf/plot/exporters/html/templates/base.html.j2
  src/aiperf/plot/exporters/html/templates/content.html.j2
  src/aiperf/plot/plot_controller.py
Due: generate-cli-docs, mkinit

Add README.md guide with complete examples for doc test CI test scripts. Include warnings about escaped code blocks to prevent confusion for user copy pasting the sample code blocks.
  tests/ci/test_docs_end_to_end/README.md
Due: none

docs: Rename README to DOC_CI_TEST_README and update parser to skip it
  tests/ci/test_docs_end_to_end/DOC_CI_TEST_README.md
  tests/ci/test_docs_end_to_end/parser.py
Due: generate-cli-docs, mkinit

fix: enable cleanup closed aiohttp connections
  src/aiperf/common/enums/__init__.py
  src/aiperf/dataset/__init__.py
  src/aiperf/dataset/loader/__init__.py
  src/aiperf/endpoints/__init__.py
  src/aiperf/gpu_telemetry/__init__.py
  src/aiperf/plot/__init__.py
  src/aiperf/plot/core/__init__.py
  src/aiperf/transports/http_defaults.py
Due: generate-cli-docs, mkinit

fix: Set default dataset sampling strategy (#519) (#521)
  src/aiperf/common/config/input_config.py
  src/aiperf/dataset/dataset_manager.py
  src/aiperf/dataset/loader/base_public_dataset.py
  src/aiperf/dataset/loader/sharegpt.py
  tests/unit/dataset/loader/test_sharegpt.py
  tests/unit/dataset/test_dataset_manager.py
Due: generate-cli-docs, mkinit

fix: multi run plot crash (#522) (#523)
  src/aiperf/plot/exporters/png/multi_run.py
  tests/unit/plot/test_png_exporter.py
Due: generate-cli-docs, mkinit

fix: Fix missing units in AIPerf plot y-axis labels (#525) (#527)
  src/aiperf/plot/exporters/base.py
  src/aiperf/plot/handlers/multi_run_handlers.py
  src/aiperf/plot/handlers/single_run_handlers.py
Due: generate-cli-docs, mkinit

fix: plot dashboard crashing, incorrect legend labels (#526) (#528)
  src/aiperf/plot/config.py
  src/aiperf/plot/core/data_loader.py
  src/aiperf/plot/core/plot_generator.py
  src/aiperf/plot/dashboard/builder.py
  src/aiperf/plot/dashboard/callback_helpers.py
  src/aiperf/plot/handlers/multi_run_handlers.py
  src/aiperf/plot/handlers/single_run_handlers.py
  src/aiperf/plot/utils.py
  tests/unit/plot/test_cache.py
  tests/unit/plot/test_multi_run_handlers.py
  tests/unit/plot/test_plot_config.py
  tests/unit/plot/test_plot_controller.py
  tests/unit/plot/test_plot_generator.py
  tests/unit/plot/test_plot_type_handlers.py
  tests/unit/plot/test_single_run_handlers.py
Due: generate-cli-docs, mkinit

feat: add live prometheus /metrics server and json endpoint
  docs/cli_options.md
  src/aiperf/common/config/user_config.py
  src/aiperf/common/constants.py
  src/aiperf/common/enums/metric_enums.py
  src/aiperf/common/models/record_models.py
  src/aiperf/common/models/telemetry_models.py
  src/aiperf/controller/system_controller.py
  src/aiperf/exporters/display_units_utils.py
  src/aiperf/metrics/metric_dicts.py
  src/aiperf/records/__init__.py
  src/aiperf/records/live_metrics_server.py
  src/aiperf/records/records_manager.py
  tests/integration/test_live_metrics.py
  tests/unit/records/test_live_metrics_server.py
Due: generate-cli-docs, mkinit

feat: add connection reuse strategy pooled and never
  src/aiperf/common/config/config_defaults.py
  src/aiperf/common/config/endpoint_config.py
  src/aiperf/common/enums/__init__.py
  src/aiperf/common/enums/plugin_enums.py
  src/aiperf/common/environment.py
  src/aiperf/common/models/model_endpoint_info.py
  src/aiperf/dataset/__init__.py
  src/aiperf/dataset/loader/__init__.py
  src/aiperf/endpoints/__init__.py
  src/aiperf/gpu_telemetry/__init__.py
  src/aiperf/transports/aiohttp_client.py
  src/aiperf/transports/aiohttp_transport.py
  src/aiperf/transports/http_defaults.py
Due: generate-cli-docs, generate-env-vars-docs, mkinit

Revert "docs: Add embeddings docs (#532)"
  docs/tutorials/embeddings.md
Due: none

chore: update python attributions for 0.4.0 release (#547)
  ATTRIBUTIONS-Python.md
  pyproject.toml
  tools/COPYRIGHT
Due: none

chore: use latest version for aiohttp dependency (#549) (#550)
  pyproject.toml
Due: none

chore: upgrade base python container to 3.13.11 (#552) (#554)
  Dockerfile
Due: none

chore: bump transformers dependency to 4.57.3 to fix CVEs (#551) (#553)
  pyproject.toml
  tests/aiperf_mock_server/pyproject.toml
Due: none

Parallel RNG Approach Comparison
  docs/parallel_rng_approach_comparison.md
  pyproject.toml
  scripts/benchmark_parallel_conversion.py
  src/aiperf/common/random_generator.py
  src/aiperf/common/tokenizer.py
  src/aiperf/dataset/__init__.py
  src/aiperf/dataset/generator/__init__.py
  src/aiperf/dataset/generator/prompt.py
  src/aiperf/dataset/loader/mooncake_trace.py
  tests/test_mooncake_trace_reproducibility.py
  tools/COPYRIGHT
Due: generate-cli-docs, mkinit

Revert "fix: Update from ffmpeg 7.1 to 8.0.1 (#555)"
  Dockerfile
Due: none

fix: Update from ffmpeg 7.1 to 8.0.1 (#555) (#556)
  Dockerfile
Due: none

chore: Bump matplotlib version to 3.10.0 (#557) (#558)
  pyproject.toml
Due: none

feat(common): add loop scheduler and trace models infrastructure
  src/aiperf/common/__init__.py
  src/aiperf/common/config/__init__.py
  src/aiperf/common/config/config_defaults.py
  src/aiperf/common/config/loadgen_config.py
  src/aiperf/common/config/user_config.py
  src/aiperf/common/config/zmq_config.py
  src/aiperf/common/enums/__init__.py
  src/aiperf/common/enums/communication_enums.py
  src/aiperf/common/enums/dataset_enums.py
  src/aiperf/common/enums/endpoints_enums.py
  src/aiperf/common/enums/message_enums.py
  src/aiperf/common/enums/metric_enums.py
  src/aiperf/common/enums/plugin_enums.py
  src/aiperf/common/enums/timing_enums.py
  src/aiperf/common/exceptions.py
  src/aiperf/common/factories.py
  src/aiperf/common/hooks.py
  src/aiperf/common/loop_scheduler.py
  src/aiperf/common/models/__init__.py
  src/aiperf/common/models/credit_models.py
  src/aiperf/common/models/dataset_models.py
  src/aiperf/common/models/model_endpoint_info.py
  src/aiperf/common/models/progress_models.py
  src/aiperf/common/models/record_models.py
  src/aiperf/common/models/trace_models.py
  src/aiperf/common/protocols.py
Due: generate-cli-docs, mkinit

ddress code rabbit
  src/aiperf/common/models/dataset_models.py
  tools/generate_cli_docs.py
Due: generate-cli-docs, mkinit

address code rabbit
  src/aiperf/common/mixins/realtime_metrics_mixin.py
  src/aiperf/common/mixins/realtime_telemetry_metrics_mixin.py
  src/aiperf/records/error_tracker.py
  src/aiperf/records/records_manager.py
  src/aiperf/timing/phase/runner.py
  src/aiperf/timing/phase/stop_conditions.py
  src/aiperf/timing/phase_orchestrator.py
  src/aiperf/workers/session_manager.py
Due: generate-cli-docs, mkinit

address more code rabbit
  docs/cli_options.md
  docs/environment_variables.md
  src/aiperf/common/config/loadgen_config.py
  src/aiperf/common/config/user_config.py
  src/aiperf/common/environment.py
  src/aiperf/common/loop_scheduler.py
  src/aiperf/common/models/trace_models.py
  src/aiperf/dataset/dataset_manager.py
  src/aiperf/dataset/loader/models.py
  src/aiperf/records/inference_result_parser.py
  src/aiperf/records/records_manager.py
  src/aiperf/timing/phase/lifecycle.py
  src/aiperf/timing/phase/progress_tracker.py
  src/aiperf/timing/strategies/request_rate.py
  src/aiperf/timing/strategies/user_centric_rate.py
  src/aiperf/transports/aiohttp_client.py
  src/aiperf/transports/aiohttp_trace.py
  src/aiperf/transports/aiohttp_transport.py
  src/aiperf/ui/dashboard/aiperf_textual_app.py
  tools/generate_env_vars_docs.py
Due: generate-cli-docs, generate-env-vars-docs, mkinit

fix tests
  tests/unit/records/test_error_tracker.py
Due: generate-cli-docs, mkinit

streamline tests
  tests/component_integration/timing/test_user_centric_rate.py
  tests/unit/timing/strategies/test_user_centric_rate.py
  tests/unit/transports/test_aiohttp_transport.py
Due: generate-cli-docs, mkinit

removed tests
  tests/component_integration/endpoints/test_chat_endpoint.py
  tests/component_integration/endpoints/test_completions_endpoint.py
  tests/component_integration/endpoints/test_solido_rag_endpoint.py
  tests/component_integration/timing/test_edge_cases.py
  tests/component_integration/timing/test_stress_and_backpressure.py
  tests/component_integration/timing/test_timing_mode_conflicts.py
  tests/component_integration/timing/test_user_centric_comprehensive.py
  tests/unit/timing/test_rate_no_looptime.py
Due: generate-cli-docs, mkinit

more test cleanup
  tests/component_integration/timing/test_gamma_diagnostics.py
  tests/unit/timing/test_formula_equivalence.py
  tests/unit/timing/test_protocols.py
Due: generate-cli-docs, mkinit

ddress nits from code rabbit
  src/aiperf/common/models/credit_models.py
  src/aiperf/credit/callback_handler.py
  src/aiperf/metrics/types/http_trace_metrics.py
  src/aiperf/timing/conversation_source.py
  src/aiperf/timing/intervals.py
  src/aiperf/timing/phase/lifecycle.py
  src/aiperf/timing/phase/runner.py
  src/aiperf/workers/session_manager.py
Due: generate-cli-docs, mkinit

remove atomicx from the function names, revert ui logging
  src/aiperf/common/mixins/worker_tracker_mixin.py
  src/aiperf/records/records_manager.py
  src/aiperf/records/records_tracker.py
  src/aiperf/timing/phase/credit_counter.py
  src/aiperf/timing/phase/progress_tracker.py
  src/aiperf/ui/__init__.py
  src/aiperf/ui/dashboard/__init__.py
  src/aiperf/ui/dashboard/rich_log_viewer.py
Due: generate-cli-docs, mkinit

remove sharegpt changes
  src/aiperf/dataset/loader/sharegpt.py
Due: generate-cli-docs, mkinit

Path conditions:
  generate-cli-docs: any of: \.py$
  generate-env-vars-docs: any of: ^src/aiperf/common/environment\.py$
  mkinit: any of: \.py$
